.Nav_Parent {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 95.9644%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgb(250, 225, 58) 3.3%,
    rgb(255, 157, 73) 96%
  );
  color: aliceblue;
  font-size: larger;
}
.Nav_btn {
  width: 10vw;
  height: 6vh;
  border-radius: 15px;
  margin-left: 2vw;
}
.below_nav {
  display: flex;
}
.SidePanel {
  width: 30%;
  height: 87.35vh;
  border-right: 1px solid #212121;

  overflow: scroll;
}
.headingInSide {
  width: 100%;
  padding: 2vw;
}
.search_Box_Container {
  background-color: rgb(198, 195, 193);
  height: 5.5vh;
}
#search_box {
  padding-left: 1.8vw;
  color: #cbcbcb;
  font-size: large;
  margin-left: 0.5vw;
  margin-top: 1vh;
  width: 89.5%;
  height: 3vh;
  border-radius: 20px;
  border: 0.5px solid black;
}
#search_icon {
  position: fixed;
  left: 1.1vw;
  top: 14%;
  color: rgb(155, 155, 155);
}
/* Assuming you have FontAwesome icons imported properly */
.sidePanel_btn {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.metaData {
  font-size: 12px;
  color: #777;
}

/* Style for the whole ShowedList */
.ShowedList {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the title */
.List_Title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  width: 100%;
  overflow-x: scroll;
}

/* Style for the links */
a {
  text-decoration: none;
}

/* Style for the edit and delete buttons */
.sidePanel_btn {
  background-color: #dcdbdb;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  margin-right: 1vw;
  width: 5.5vw;
  height: 4vh;
}
.sidePanel_btn:active {
  background-color: #777;
  color: #ccc;
}
.activeNavLink {
  background-color: #6c6c6c;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #ccc;
}
.Active_List_Title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #dedede;
  width: 100%;
  overflow-x: scroll;
}
.Active_metaData {
  font-size: 12px;
  color: #dedede;
}
.Editor_Parent {
  margin-left: 0.8vw;
}
.tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5vh;
  background-color: #454545;
  padding-bottom: 1vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tiptap .is-editor-empty:first-child::before {
  color: #3e3e3e;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  color: #7d7c7c;
}
.tiptap {
  height: 76.5vh;
  width: 67vw;
  padding-left: 1vw;
  border: 4px solid #454545;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btns {
  margin-left: 1vw;
  margin-top: 2vh;
  background-color: #454545;
  color: #cbcbcb;
  width: 4vw;
  border-style: none;
  padding: 0.5vh;
  border-radius: 5px;
}
.btns:active {
  margin-left: 1vw;
  border-style: none;
  margin-top: 2vh;
  background: linear-gradient(
    180deg,
    rgb(250, 225, 58) 3.3%,
    rgb(255, 157, 73) 96%
  );
  color: #ffffff;
  width: 4vw;
  padding: 0.5vh;
}
input {
  background-color: #454545;
  border-style: none;
}
.is-active {
  background: linear-gradient(
    180deg,
    rgb(250, 225, 58) 3.3%,
    rgb(255, 157, 73) 96%
  );
  color: #212121;
  border-style: none;
  margin-left: 1vw;
  border-style: none;
  margin-top: 2vh;
  padding: 0.5vh;
  border-radius: 5px;
  width: 4vw;
}
.Float {
  display: flex;
  flex-wrap: wrap;
  border: 2px dotted black;
  background-color: whitesmoke;
}
.Float > * {
  width: auto;
  min-width: 5vw;
  border: 2px solid #212121;
  margin: 1px;
}
.Float > .btns:active {
  margin-left: 0vw;
  border-style: none;
  border: 2px solid #212121;
  margin-top: 0vh;
  background: linear-gradient(
    180deg,
    rgb(250, 225, 58) 3.3%,
    rgb(255, 157, 73) 96%
  );
  color: #ffffff;
  min-width: 5vw;
  width: auto;
  padding: 0.7vh;
  transition: 50ms ease-in-out;
  margin: 1px;
}
.showContent {
  height: 84vh;
  width: 67vw;
  margin-top: 1.5vh;
  margin-left: 0.6vw;
  padding-left: 1vw;
  border: 4px solid #454545;
  border-radius: 20px;
}
.Download_btn {
  position: fixed;
  bottom: 3.6%;
  right: 2.5%;
  height: 6vh;
  width: 10vw;
  font-size: larger;
  font-weight: 700;
  color: #ffffff;
  background-color: #48d093;
  border: 1px solid #212121;
  border-radius: 20px;
}
.Download_btn:hover {
  background-color: #f8f398;
  color: #3e3e3e;
}
.Download_btn:active {
  background-color: #48d093;
}
@media print {
  .showContent {
    border-style: none;
  }
  @page {
    margin: 0;
  }
  body {
    font-size: 20pt;
    line-height: 1;
    color: #333;
  }
}
.homePage {
  display: flex;
  text-align: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.Homeheading {
  font-size: 8vh;
  color: white;
  text-shadow: 0px 0px 15px black, 0px 0px 1px black;
  font-family: monospace;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  padding: 2vh;
  width: 95%;
  border-right: 3px solid black;
}
.desc {
  font-size: x-large;
  font-weight: 700;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.empty {
  width: 80%;
  text-align: center;
  font-family: monospace;
  font-size: 5vh;
  padding: 2vh;
  margin: auto;
  margin-top: 45%;
  box-shadow: 0px 0px 10px gray;
  border-radius: 20px;
}
