 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://img.freepik.com/premium-photo/smart-mobile-phone-social-networks-connect-global-network-network-touch-screen-device-digital-links-data-information-online-internet-things_1417-25064.jpg?size=626&ext=jpg&ga=GA1.1.665338535.1710153915&semt=ais"), #000;
    background-position:center;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-size: cover;
}

.wrapper {
    width: 90vw;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    height: 90vh;
    display: flex;
}



h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    display:inline;
}


.input-field {
    position: relative;
    margin: 15px 0;
    display: inline;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
    float: left;
    border-bottom: 2px solid #d2d2d2;
    margin-left: 10px;
    margin-right: 10px;
}

.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.wrapper a {
    color: #efefef;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

.btn button {
    background: #fff;
    color: #000;
    font-weight: 600;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: 0.3s ease;
    height: 40px;
    width: 40px;
}
.btn li{
    float: right;
    margin-top: 7px;
}

.btn button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.notes {
    width: 20vw;
    border-radius: 8px;
    text-align: center;
    border: 0px solid rgba(255, 255, 255, 0.5);
    height: 83vh;
    display: flex;
}

.editor {
    width: 70vw;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background-color: #b2b2b259;
    height: 83vh;
    display: flex;

}

.editor-box {
    height: 73vh;
    width: 67vw;
    margin-left: 20px;
    background-color: #9e9e9ea6;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: none;
    background: transparent !important;
}
.notesList{
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
.notesList::-webkit-scrollbar {
    display: none;
}

.btn li {
    display: inline;
}

ul {
    list-style-type: none;
}

.notesList li button{
    border-radius: 5px;
    border: none;
    font-size: 10px;
    height: 25px;
    width: 50px;
    margin: 0 5px;
    float: right;
    background-color: white;
}
.notesList li button:hover{
    background: transparent;
    border: 2px solid white;
    color: white;
}
.input-field button{
    display: inline;
    float: right;
    margin-right: 10px;
    height: 28px;
    width: 75px;
    border: none;
    border-radius: 5px;
    background-color: white;
}
.input-field button:hover{
    background: transparent;
    border: 2px solid white;
    color: white;
}
.input-field{
    display: flex;
}

@media only screen and (max-width: 1020px) {
    /* .notes { display:none ; }
    .notes-editor { display: none; }
    .smallscreen {
        display: flex;
        color: rgb(0, 0, 0);
        font-size: small;
    }
    body::before {
        background: none;
    } */
    .notesList li button{
        border-radius: 5px;
        border: none;
        font-size: 10px;
        height: 25px;
        width: 50px;
        margin: 0 5px;
        float: right;
        background-color: white;
    }
    .input-field input{
        padding-top: 1px;
        border-bottom:2px solid  rgb(99, 99, 99);
        
    }
    .notesList li button:hover{
        background: transparent;
        border: 2px solid rgb(255, 255, 255);
        color: white;
    }
    .input-field button{
        display: inline;
        float: right;
        margin-right: 10px;
        height: 28px;
        width: 75px;
        border: none;
        border-radius: 5px;
        background-color: white;
    }

    .input-field button:hover{
        border: 2px solid rgb(255, 255, 255);
        color: white;
    }


    .smallscreen { display: none; }

    .navbar{
        display: none;
    }
    .head{
        border: 0.5px solid rgba(255, 255, 255, 0.482);
        margin-top: 10px;
        border-radius: 8px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .sidemenu{
    display: block;
    z-index: 2;
    height: 100%;
    transition: 0.5s;
    position: fixed;
    width: 500px;
    background: url("https://img.freepik.com/premium-photo/smart-mobile-phone-social-networks-connect-global-network-network-touch-screen-device-digital-links-data-information-online-internet-things_1417-25064.jpg?size=626&ext=jpg&ga=GA1.1.665338535.1710153915&semt=ais"), #000;
    background-position:center;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    background-size: cover;
    margin-left: 10px;
    }

    .sidebar-toggler{
        color: white;
        display: flex;
        
    }

    .fas{
        display: block;
        cursor: pointer;
    }

    .editor{
        background-color: #ffffff;
    }

    .editor-box{
        float: left;
    }

    .notesList{
        
        border-radius: 8px;
        position:relative;
    }
    .notes{
        width: 10px;
        margin-right: 10px;
        position: relative;
        

    }
    .open{
        width: 10px;
    }

    .lists{
        width: 280px;
    }

    .head{
        width: 280px;

    }

    .head-name{
        width: 280px;
        height: 50px;
        border: none;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
        border-radius: 8px;
        margin-bottom: 10px;
        border: 1px solid rgba(179, 179, 179, 0.396);
    }

    .lists {
        
        display: block;
        justify-content: left;
        height: 54vh;
        width: 279px;
        margin-top: 10px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        color: white;
        border-radius: 8px;
    }

    .notesList li{
        border: 0.5px solid rgb(165, 165, 165);
        border-radius: 5px;
        margin: 15px 10px;
        height: 50px;
        text-align: left;
        padding: 12px;
        transition: 0.2s;
        
    }

    .lists{
        scroll-behavior: smooth;
        overflow: scroll;
    }

    .notesList li:hover{
        background-color: #ffffff8a;
    }

    hr{
        background-color: rgb(179, 179, 179);
        color: rgb(46, 46, 46);
        
    }

    }
    @media only screen and (min-width: 1021px) {
        .smallscreen { display: none; }

        .smallscreen { display: none; }

        .head {
            align-items: center;
            border: 1px solid rgba(143, 143, 143, 0.678);
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
            width: 18vw;
            display: block;
            height: 7vh;
            border-radius: 8px;
            margin-bottom: 10px;
        }
        
        .lists {
            display: flex;
            border: 1px solid rgba(143, 143, 143, 0.678);
            display: block;
            justify-content: left;
            height: 57vh;
            width: 18vw;
            margin-top: 10px;
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
        }

        .head-name {
            align-items: center;
            border: 1px solid rgba(143, 143, 143, 0.678);
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
            width: 18vw;
            display: block;
            height: 7vh;
            border-radius: 8px;
            margin-bottom: 10px;
            padding-top: 5px;
        }

    .sidebar-toggler{
        color: white;
        display: none;
    }

    .notesList li{
        border: 1px solid rgba(213, 213, 213, 0.503);
        margin: 15px 10px;
        height: 50px;
        border-radius: 8px;
        text-align: left;
        padding: 12px;
        transition: 0.2s;
    }

    .notesList li:hover{
        background-color: #ffffff8a;
    }
    .lists{
        scroll-behavior: smooth;
        overflow: scroll;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 8px;
    }
    
    .sidemenu{
        display: none;
    }
    
    .fas{
        display: none;
    }
    .notesList{
        color: white;
    }
    
    }
    .btnn{
        float: right;
    }
